!!! 5
head
  title #{title}
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
  
  // STYLES 
  link(rel="stylesheet", href="/ui/styles/libraries/bootstrap.css")
  link(rel="stylesheet", href="/ui/styles/main.css")
  // STYLES END 
  
body
  // CONTENT 
  nav.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') #{title}
    div.collapse.navbar-collapse.navbar-collapse 
      ul.nav.navbar-nav.navbar-right
        li
          if req.isAuthenticated()
            a(href='/logout') Log out
          else
            a(href='/login') Log in

  p #{message}

  block body
  // CONTENT END 
  
  // LIBRARIES 
  script(type="text/javascript", src="/ui/scripts/libraries/socket.js")
  script(type="text/javascript", src="/ui/scripts/libraries/sails.js")
  script(type="text/javascript", src="/ui/scripts/libraries/jquery.js")
  script(type="text/javascript", src="/ui/scripts/libraries/bootstrap.js")
  script(type="text/javascript", src="/ui/scripts/libraries/handlebars.js")
  script(type="text/javascript", src="/ui/scripts/libraries/underscore.js")
  script(type="text/javascript", src="/ui/scripts/libraries/backbone.js")
  // LIBRARIES END 
  
  // TEMPLATES
  // TEMPLATES END 
  
  // MODELS 
  
  // MODELS END 
  
  // COLLECTIONS 
  
  // COLLECTIONS END 
  
  // VIEWS 
  script(type="text/javascript", src="/ui/scripts/core/views/main.js")
  // VIEWS END 
  
  // ROUTERS 
  
  // ROUTERS END 
  
  // INITIALIZE 
  script(type="text/javascript", src="/ui/scripts/core/main.js")
  // INITIALIZE END 