// LIBRARIES 
script(type="text/javascript", src="/ui/scripts/libraries/socket.js")
script(type="text/javascript", src="/ui/scripts/libraries/sails.js")
script(type="text/javascript", src="/ui/scripts/libraries/jquery.js")
script(type="text/javascript", src="/ui/scripts/libraries/bootstrap.js")
script(type="text/javascript", src="/ui/scripts/libraries/handlebars.js")
script(type="text/javascript", src="/ui/scripts/libraries/underscore.js")
script(type="text/javascript", src="/ui/scripts/libraries/backbone.js")
// LIBRARIES END 

// MODULES 
script(type="text/javascript", src="/ui/scripts/modules/accordion.js")
script(type="text/javascript", src="/ui/scripts/modules/chatroom.js")
script(type="text/javascript", src="/ui/scripts/modules/checkbox.js")
script(type="text/javascript", src="/ui/scripts/modules/dimmer.js")
script(type="text/javascript", src="/ui/scripts/modules/dropdown.js")
script(type="text/javascript", src="/ui/scripts/modules/modal.js")
script(type="text/javascript", src="/ui/scripts/modules/nag.js")
script(type="text/javascript", src="/ui/scripts/modules/popup.js")
script(type="text/javascript", src="/ui/scripts/modules/rating.js")
script(type="text/javascript", src="/ui/scripts/modules/search.js")
script(type="text/javascript", src="/ui/scripts/modules/shape.js")
script(type="text/javascript", src="/ui/scripts/modules/sidebar.js")
script(type="text/javascript", src="/ui/scripts/modules/tab.js")
script(type="text/javascript", src="/ui/scripts/modules/transition.js")
script(type="text/javascript", src="/ui/scripts/modules/video.js")
// MODULES END 

// TEMPLATES 
script(type="text/javascript", src="/ui/scripts/templates/template.js")
// TEMPLATES END 

// MODELS 

// MODELS END 

// COLLECTIONS 

// COLLECTIONS END 

// VIEWS 
script(type="text/javascript", src="/ui/scripts/views/main.js")
// VIEWS END 

// ROUTERS 

// ROUTERS END 

// INITIALIZERS 
script(type="text/javascript", src="/ui/scripts/main.js")
// INITIALIZERS END 