extends ../layouts/default

block body
	form.ui.form.segment(method='post', action='/process')
		div.field
			label Username
			div.ui.left.labeled.input
				input(type='text', name='username', placeholder='Username')
				div.ui.corner.label
					i.icon.asterisk
		div.field
			label Password
			div.ui.left.labeled.input
				input(type='password', name='password', placeholder='Password')
				div.ui.corner.label
					i.icon.asterisk
		input.ui.blue.submit.button(type='submit', value='Log in')