extends ../layouts/default

block body
  div.container
    div.row
      div.col-md-12
        form.form-horizontal(method='post', action='/process')
          div.form-group
            label.col-lg-2.control-label Username
            div.col-lg-10
              input.form-control(name='username', type='text', placeholder='Username')
          div.form-group
            label.col-lg-2.control-label Password
            .col-lg-10
              input.form-control(name='password', type='password', placeholder='Password')
          div.form-group
            div.col-lg-offset-2.col-lg-10
              button.btn.btn-primary(type='submit') Log in
