extends ../layouts/html

block body
  if message
    div.ui.message
      p #{message}

  form(method='post',action='/authorization')
    input(name='username',type='text',placeholder='Username')
    input(name='password',type='password',placeholder='Password')
    button.btn.btn-primary(type='submit') Log in